@media only screen 
and (max-width: 768px) {

    .container_home_banner {
        height: 550px;
    }

    .container_home_banner_txt {
        font-weight: bold;
        font-size: 23px;
        line-height: 40px;
        padding: 60px 0 0 50px;
    }

    .home_contactless_img {
        width: 120px;
    }

    .home_contactless_txt {
        padding: 0 30px;
    }

    .home_contactless_txt2 {
        font-size: 35px; 
        padding: 40px 0 40px 0;
    }

    .home_contactless_txt3 {
        line-height: 25px; 
        font-size: 20px;
    }

    .home_img_scan {
        width: 200px;
    }

    .home_how_txt {
        padding: 20px 0px 50px 0; 
        text-align: center; 
        line-height: 40px; 
        font-size: 20px;
    }

    /* Contact Us */
    .home_contact_img {
        width: 200px;
    }

    .home_contact_title {
        padding: 0 0 50px 0;
    }
    
    .contact_row {
        padding: 5px 0;
    }

    .contact_label {
        font-family: arial;
        text-align: left;
        padding: 8px 15px;
    }

    .contact_input {
        border-radius: 5px;
        border: 1px solid #cacaca;
        padding: 10px 10px;
        background: #fff;
        width: 300px;
    }


    /* !Contact Us */

}