@media only screen 
and (min-width: 768px) {

    .container_home_banner {
        height: 550px;
    }

    .container_home_banner_txt {
        font-weight: bold;
        font-size: 40px;
        margin: 10px 0 0 100px;
        line-height: 80px;
        padding: 140px 0 0 50px;
    }

    .home_contactless_img {
        width: 250px;
    }

    .home_contactless_txt {
        width: 400px;
        padding: 0 0 0 60px;
    }

    .home_contactless_txt2 {
        font-size: 40px; 
        padding: 40px 0 80px 0;
    }

    .home_contactless_txt3 {
        line-height: 35px; 
        font-size: 25px;
    }

    .home_img_scan {
        width: 500px;
    }

    .home_how_txt {
        padding: 60px 100px 0 0; 
        text-align: right; 
        line-height: 60px; 
        font-size: 28px;
        display: inline-block;
        vertical-align: top;
    }

    /* Contact Us */
    .home_contact_img {
        width: 350px;
        margin: 100px 50px 0 0;
    }

    .home_contact_title {
        padding: 20px;
    }
    
    .contact_row {
        padding: 5px 0;
    }

    .contact_label {
        font-family: arial;
        text-align: left;
        padding: 8px 15px;
    }

    .contact_input {
        border-radius: 5px;
        border: 1px solid #cacaca;
        padding: 10px 10px;
        background: #fff;
        width: 300px;
    }


    /* !Contact Us */


}