@media only screen 
and (max-width: 768px) {

    .opt_acc {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        border: 1px solid #cacaca;
        border-radius: 5px;
        margin: 15px 10px;
    }

    .opt_acc input {
        margin-right: 15px;
    }

}