html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.none {
    display: none;
}

.main_btn_login {
    text-decoration: none;
}
.main_btn_login:hover {
    text-decoration: underline;
}

@media only screen 
and (min-width: 768px) {
    .front {
        width: 1200px;
        margin: 0 auto;
    }

    .mobile {
        display: none;
        visibility: hidden;
    }

    .container_bar_top {
        padding: 15px 55px;
        background: white;
        box-shadow: 2px 2px 3px 1px #e0e0e0;
    }
    
}

@media only screen 
and (max-width: 768px) {
    .front {
        width: 100%;
        background:;
        margin: 0 auto;
    }

    .desktop {
        display: none;
        visibility: hidden;
    }

    .container_bar_top {
        padding: 15px 15px;
    }

    .bar_bot_mobile {
        
    }

    .btn_nav_mobile {
        padding: 15px 15px;
        flex: 1;
        display: block;
        text-align: center;
        color: #666666;
        text-decoration: none;
    }
}

.i {
    display: inline-block;
    vertical-align: top;
}

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }

input:focus {
    outline: 1px solid aqua;
}

.a_primary {
    color: #666699;
    text-decoration: none;
}

.a_primary:hover {
    color: blue;
}

.cimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bar Top */
.btn_nav_user:hover {
    background: #e6e6e6;
}
/* !Bar Top */

/* Button */
.btn_primary {
    background: #F29300;
    border-radius: 20px;
    margin: 0 20px;
    padding: 15px 0;
    color: white;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 4px 1px #e0e0e0;
    font-family: 'Noto Sans', sans-serif;
}

.btn_positive, .btn_negative {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.35s;
}

.btn_positive {
    background: #F29300;
    color: #fff;
}

.btn_positive:hover {
    background: rgba(242, 147, 0, 0.85);
}

.btn_negative {
    background: #fff;
    border: 1.5px solid #F29300;
    color: #555555;
}

.btn_negative:hover {
    background: #f2f2f2;
    color: #333333;
}

.btn_negative2 {
    color: #EF2424; 
    background: #fff; 
    padding: 20px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.btn_negative2:hover {
    opacity: 0.8;
}

.btn_back {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px #e0e0e0;
}

/* Fonts */
.font_primary {
    font-family: 'Open Sans', sans-serif;
}

.font_second {
    font-family: 'Noto Sans', sans-serif;
}

.font_second_serif {
    font-family: 'Noto Serif', serif;
}

.font_roboto {
    font-family: 'Roboto', sans-serif;
}
.font_lato {
    font-family: 'Lato', sans-serif;
}
/* !Fonts */

/* Inputs */
.hare_form_row {
    padding: 10px 0;
}

.hare_label {
    color: #555555;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding: 5px 20px;
}

.hare_container_input {
    display: flex;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.hare_input {
    border-left: 0px solid transparent;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 1px solid rgba(142, 142, 142, 0.35);
    padding: 8px 10px;
    flex: 1;
    box-sizing: border-box;
    font-size: 14px;
}

.hare_input:focus {
    outline: none;
}
/* !Inputs */

/* Confirm */
.hare_confirm_back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 40;
    top: 0;
    left: 0;
    display: none;
}

.hare_confirm_front {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hare_confirm_box {
    background: white;
    border-radius: 10px;
    
}
/* !Confirm */

/* Loader */
/* Loader img */
@-webkit-keyframes loading_img {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes loading_img {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes loading_img { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.loader_img {
	background: linear-gradient(270deg,#e0e0e0, rgba(129, 120, 120, 0.788), #e0e0e0);
	background-size: 200% 200%;

	-webkit-animation: loading_img 2s ease infinite;
	-moz-animation: loading_img 2s ease infinite;
	animation: loading_img 2s ease infinite;
	width: 100%;
	height: 100%;
}

/*** Loader1 ***/
.loader1 {
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	z-index: 60;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.loader1_loading {
	height: 5px;
	background: rgb(238, 205, 21);
	width: 100%;
	animation-name: loader1_loading;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

@keyframes loader1_loading {
	0% { width: 0px; }
	15% { width: 50%; }
	50% { width: 70%; }
	75% { width: 85%; }
	100% { width: 90%; }
}