@media only screen 
and (min-width: 768px) {
    html, body {
        height: 100%;
    }

    html {
        width: 100%;
        background-color: #f2f2f2;
    }

    body {
        width: 400px;
        margin: 0 auto;
        position: relative;
    }

    .container_merchant_banner_fixed {
        width: 400px;
        margin: 0 auto;
    }

    .container_merchant_banner_img {
        display: inline-block;
        width: 400px;
    }

    .container_menu_checkout_cart {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .btn_checkout {
        width: 380px;
    }
}

.input_menu_notes:focus {
    outline: none;
}

/* Menu Bill */
.menu_bill_top_label {
    padding: 0 20px 0 0; 
    font-size: 13px; 
    color: #666666;
}
.menu_bill_top_value {
    font-size: 16px; 
    color: #333333;
}
.menu_bill_table_total td:nth-child(1) {
    width: 100%;
}
.menu_bill_table_total td:nth-child(3) {
    text-align: right;
}

/* Menu switch */
.menu_switch_btn_selected {
    color: orange;
    font-weight: bold;
}

@media only screen 
and (max-width: 768px) {

    html, body {
        width: 100%;
        height: 100%;
    }
}

@media only screen 
and (max-width: 2768px) {

    /* Menu */
    .menu_bot_tab {
        flex: 1;
        text-align: center;
        padding: 6px 0;
        font-family: arial;
        font-size: 13px;
    }
    .menu_bot_tab_selected {
        filter: invert(83%) sepia(46%) saturate(5855%) hue-rotate(359deg) brightness(101%) contrast(103%);
    }
    /* !Menu */

    /* Menu Tab */
    .menu_tab, .menu_tab_selected {
        padding: 5px 20px; 
        border-radius: 20px; 
        margin: 0 2px;
        cursor: pointer;
        box-shadow: 0px 0px 4px 1px #e6e6e6;
    }

    .menu_tab {
        border: 1px solid #cacaca; 
    }

    .menu_tab_selected {
        border: 1px solid orange;
        background: orange;
        color: #fff;
    }
    /* !Menu Tab */

    /* Menu Row */
    .row_menu, .row_menu_checkout {
        display: flex;                       
        padding: 10px;
        text-decoration: none;
        color: inherit;
    }

    .row_menu_cimg {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row_menu_img {
        max-width: 90px;
        max-height: 90px;
    }

    .row_menu_r {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .row_menu_name {
        font-family: 'Noto Sans', sans-serif;
        flex: 1;
        padding: 10px;
        font-size: 18px;
    }

    .row_menu_price {
        flex: 1;
        padding: 10px;
        color: #444444;
        font-size: 14px;
        display: flex;
        background: ;
        align-items: center;
        font-family: 'Noto Sans', sans-serif;
    }

    .container_row_qty {
        background: white;
        box-shadow: 0px 0px 2px 1px #e0e0e0;
        border-radius: 3px;
        display: none;
        vertical-align: top;
    }

    .btn_menu_qty_min, .btn_menu_qty_plus, .btn_menu_qty_min_checkout, .btn_menu_qty_plus_checkout {
        font-weight: bold;
        font-size: 15px;
        padding: 5px 10px;
        text-align: center;
    }
    /* !Menu Row */

    /* Menu Detail */
    .container_img_back {
        background-color: white;
        position: relative;
        width: 100%;
    }

    .container_menu_img {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        font-size: 20px;
        color: white;
    }

    .menu_row_qty {
        width: 25px;
        padding: 5px 0;
        text-align: center;
    }

    /* Btn Qty */
    .menu_detail_qty_min, .menu_detail_qty_plus {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
    }

    .menu_detail_qty_min {
        border: 1px solid #F29300;
        color: #F29300;
    }

    .menu_detail_qty_plus {
        border: 1px solid #F29300;
        background-color: #F29300;
        color: white;
    }
    /* !Btn Qty */

    /* Btn Payment */
    .payment_btn_choose {
        flex: 1; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .btn_payment_option {
        box-shadow: 0px 0px 5px 2px #e0e0e0;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* !Btn Payment */

    /* Payment Options */
    .payment_options_choice {
        height: 50px;
        box-shadow: 0px 0px 5px 2px #e0e0e0;
        border-radius: 5px;
        text-align: left;
        align-items: center;
        flex: 1;
        margin: 10px 0px;
        width: 100%;
        box-sizing: border-box;
        display: flex;

    }
    .payment_options_choice_img {
        width: 60px;
        height: 50px;
        margin: 0 10px 0 0;
    }

    /* Payment Confirmation */
    .payment_confirm_row {
        padding: 10px 25px;
        font-family: 'Noto Sans', sans-serif;
        color: #333333;
        font-size: 14px;
        text-align: left;
    }

    .payment_confirm_label {
        width: 180px;
        display: inline-block;
        vertical-align: top;
    }

    .payment_confirm_value {
        display: inline-block;
        vertical-align: top;
    }

    
    /* !Payment Confirmation */

    /* Loading */
    .container_menu_detail_loading_top {
        width: 100%;
        position: relative;
    }

    .container_menu_detail_loading_top:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .loader_img {
        position: absolute;
    }

    .container_menu_detail_loading_title {
        margin: 45px 30px;
        border-radius: 5px;
        height: 45px;
        overflow: hidden;
        position: relative;
    }

    .container_menu_detail_loading_btn {
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 85px;
        overflow: hidden;
    }
    /* !Loading */

    /* Table Pass */
    .input_table_pass:focus {
        outline: none;
    }
    /* !Table Pass */

    /* Menu Help */
    .menu_help_msg_input:focus {
        outline: none;
    }
    /* !Menu Help */

}