/* @media only screen 
and (max-width: 768px) { */

    html, body {
        min-height: 100%;
    }

    .container_mobile_nav {
        box-shadow: 2px 0px 4px 2px #e0e0e0;
        position: fixed;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        background: #F29300;
        overflow: hidden;
        transition: width 1s;
        z-index: 9;
    }

    .menu_btn_nav {
        display: block;
        border-bottom: 1px solid #fff;
        padding: 15px;
        white-space: nowrap;
        color: #fff;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }

    .nav_bottom_menu {
        flex: 1;
        text-align: center;
        font: 13px arial;
        color: #555555;
        text-decoration: none;
        padding-top: 4px;
    }

    .nav_bottom_icon {
        max-width: 30px;
        max-height: 30px;
    }
    .nav_bottom_icon_normal {
        filter: invert(55%) sepia(51%) saturate(0%) hue-rotate(176deg) brightness(89%) contrast(88%);
    }
    .nav_bottom_icon_active {
        filter: invert(83%) sepia(46%) saturate(5855%) hue-rotate(359deg) brightness(101%) contrast(103%);
    }

/* } */