{{ define "merchant_catalogue_page" }}

{{ template "layout_head" . }}
{{ template "layout_head_merchant" . }}

    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .layout_container {
            padding: 0 10px 10px 10px;
            background: #f2f2f2;
            margin: 0 0 25px 0;
            border-radius: 2px;
            box-shadow: 0px 0px 5px 2px #e6e6e6;
        }
        .layout_container_selected {
            box-shadow: 0px 0px 4px 2px orange inset;
        }
        .layout_title {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            padding: 10px 15px;
        }
        .layout_col {
            border: 1px solid #555555;
            border-radius: 4px;
        }
        .input_search_menu:focus {
            outline: none;
        }

        .content_add_menu_style {
            width: 100%; 
            height: 100%; 
            background: #f2f2f2; 
            border-radius: 5px; 
            cursor: pointer; 
            position: relative;
            border: 1px solid #cacaca;
            text-align: center;
        }
        .content_nomenu {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-family: arial;
            flex-direction: column;
        }
        .container_content_inner {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            background: #e0e0e0; 
            padding: 5px; 
            box-sizing: border-box;
        }
        .catalogue_content_menu_name {
            font-family: 'Roboto', sans-serif;
            font-size: 13px; 
            text-align: center; 
            position: absolute; 
            bottom: 0; 
            width: 100%; 
            padding: 5px;
        }

        @media only screen
        and (min-width: 768px) {
            .container_box {
                width: 500px; 
            }
        }

        @media only screen
        and (max-width: 768px) {
            .container_box {
                width: 100%; 
            }
        }
    </style>
    <script>
        $(function() {
            $('.btn_add_layout').click(function() {
                $('.container_merchant_catalogue_layout').fadeIn();
            });

            let layout = '';
            $('.layout_container').click(function() {
                let chosen = $(this).data('layout');
                layout = chosen;
                $(this).addClass('layout_container_selected');
                $('.layout_container').not($(this)).removeClass('layout_container_selected');
            });

            $('.btn_choose_layout').click(function() {
                if(layout != '') {
                    var r = confirm('Pilih layout ini?');

                    if(r) {
                        eloader1Show();
                        let pageid = $('.pageid').val();
                        $.post('/merchant/catalogue/add_layout',
                        { 
                            layout: layout,
                            pageid: pageid,
                        }, function(r) {
                            console.log(r);
                            if(r.Status == 200) {
                                /*$.post('/merchant/catalogue/content_append',
                                {
                                    layout: layout,
                                    col_id: JSON.stringify(r.Col),
                                }, function(r) {
                                    console.log(r);
                                    $('.container_load_catalogue_content').append(r);
                                });
                                
                                $('.container_merchant_catalogue_layout').fadeOut();
                                eloader1Finish();*/
                                location.reload();
                            } else {
                                alert('Unknown error');
                                eloader1Finish();
                            }
                        });
                    }
                } else {
                    alert('Mohon pilih salah satu layout yang anda mau');
                }
            });

            $('.btn_layout_back').click(function() {
                $('.container_merchant_catalogue_layout').fadeOut();
            });
            $('.btn_back_search_menu').click(function() {
                $('.container_merchant_catalogue_search_menu').fadeOut();
            });

            // Content menu
            $('body').delegate('.content_add_menu', 'click', function() {
                $('.content_add_menu_focus').removeClass('content_add_menu_focus');
                $(this).addClass('content_add_menu_focus');
                $('.container_merchant_catalogue_search_menu').fadeIn();
                $('.input_search_menu').focus();
            });

            $('.input_search_menu').keydown(function(e) {
                if(e.keyCode == 13) {
                    eloader1Show();
                    let search = $(this).val();
                    $('.container_load_menu').load('/merchant/catalogue/search_menu',
                    {
                        search: search
                    }, function(r) {
                        console.log(r);
                        eloader1Finish();
                    });
                }
            });

            // Choose menu to add
            $('body').delegate('.container_load_menu a', 'click', function() {
                eloader1Show();
                let menu_id = $(this).data('id');
                console.log(menu_id);
                let content = $('.content_add_menu_focus');
                let data_id = content.data('dataid');
                let col_id = content.data('colid');
                $.post('/merchant/catalogue/add_content_data',
                {
                    menu_id: menu_id,
                    data_id: data_id,
                    col_id: col_id,
                }, function(r) {
                    console.log(r);
                    if(r.Status == 200) {
                        //content.text(r.Menuid);
                        //content.data('dataid', r.Menuid);
                        //$('.container_merchant_catalogue_search_menu').fadeOut();
                        location.reload();
                    } else {
                        alert('Error. Mohon coba lagi');
                        eloader1Finish();
                    }
                });
            });
        });
    </script>

{{ template "layout_body" }}

    {{ template "app_bar" . }}
    
    <input type='hidden' class='pageid' value='{{ .Page }}' />
    <div class='container_box' style='margin: 0 auto; background: ; flex: 1; padding: 0 0 50px 0;'>
        <div class='font_lato' style='padding: 10px 15px; font-weight: bold; font-size: 16px;'>
            {{ .Title }}
        </div>
        <div>
            <div class='container_load_catalogue_content'>
                {{ range .Data }}
                    {{ template "merchant_catalogue_content" CombineVariable "G" $.G "Content" . }}
                {{ end }}
            </div>
            <div class='tc'>
                <div class='font_roboto'>
                    Layout masih kosong.
                    <br />
                    Silahkan tambah layout
                    <br /><br />
                </div>
                <div>
                    <div class='btn_add_layout btn_positive i'>
                        Tambah Layout
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ template "merchant_catalogue_layout" . }}
    {{ template "merchant_catalogue_search_menu" . }}

    <div class='eloader1' data-color='orange'></div>
    {{ template "eloader1" }}

{{ template "layout_body_end" }}

{{ end }}