{{ define "merchant_menu_add" }}

{{ template "layout_head" . }}
    <style>
        .loading_animation {
            height: 10px;
            background: rgb(238, 205, 21);
            width: 100%;
            animation-name: loading;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-play-state: paused;
        }

        @keyframes loading {
            0% { width: 0px; }
            15% { width: 50%; }
            50% { width: 70%; }
            75% { width: 85%; }
            100% { width: 90%; }
        }
    </style>

    <script>
        $(function() {
            $('#input_photo').change(function() {
                $('#form_upload_photo').submit();
            });

            $('#form_upload_photo').submit(function(e) {
                e.preventDefault();

                let append_menu = `<div
                    class='cimg'
                    style='
                        border-radius: 5px;
                        background: #cacaca;
                        width: 100px;
                        height: 100px;
                        display: inline-flex;
                        margin: 0 5px;
                    '
                >
                    <div 
                        class='container_loading_animation'
                        style='
                            width: 80px;
                            height: 10px;
                            border-radius: 5px;
                            background: white;
                        '
                    >
                        <div class='loading_animation'></div>
                    </div>

                    <img class='new_img' src='' style='max-width: 80px; max-height: 80px;' />
                </div>`;
                $('.container_photo_preview').append(append_menu);

                $('.loading_animation').css('animation-play-state', 'running');

                let formData = new FormData(this);

                $.ajax({
                    url: '/merchant/upload_photo',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(result) {
                        console.log(result);
                        if(result.status == 200) {
                            //$('.menu_add_container').append('<input type="hidden" class="input_menu_img" value="' + result.data.filename + '" />');
                            let menu_img = $('.input_menu_img').val();
                            if(menu_img == '') {
                                menu_img = result.data.filename;
                            } else {
                                menu_img = menu_img + ',' + result.data.filename;
                            }
                            $('.input_menu_img').val(menu_img);

                            $('.container_loading_animation').hide();

                            // Scroll
                            let container_width = $('.container_photo_preview').width();
                            console.log(container_width);
                            $('.container_photo_preview').animate({
                                scrollLeft: container_width + "px"
                            }, 100);

                            previewFile();
                        }
                    }
                });
            });

            // Add new section
            $('body').delegate('#eselect_add_section .eselect_new', 'click', function() {
                $('.container_new_section').show();
                $('.eselect_container_query').hide();
            });

            // New section submit
            $('.container_new_section .btn_yes').click(function() {
                let section = $('#input_new_section').val();
                let mid = $(this).data('mid');

                if(section != '') {
                    let loader = $('.loader1');
		            loader.show();
                    $('.loader1_loading').css('animation-play-state', 'running');

                    $.post('/merchant/section_new',
                    {
                        section: section,
                        mid: mid
                    }, function(r) {
                        console.log(r);
                        if(r.status == 200) {
                            $('.container_new_section').hide();
                            $('#input_new_section').val('');
                        }
                        loader.hide();
                    });
                } else {
                    alert('Nama section tidak boleh kosong!');
                }
            });

            // Add section btn no
            $('.container_new_section .btn_no').click(function() {
                $('.container_new_section').hide();
            });

            $('.btn_add_new_menu').click(function() {
                let mid = $(this).data('mid');
                let menu_name = $('.input_menu_name').val();
                let menu_price = $('.input_menu_price').val();
                let menu_desc = $('.input_menu_desc').val();
                let menu_section = $('#eselect_add_section .eselect_value').val();
                let menu_sku = $('.input_menu_sku').val();
                let menu_img = $('.input_menu_img').val();

                /*let menu_img = '';
                $('.input_menu_img').each(function() {
                    let img = $(this).val();
                    menu_img += img + ',';
                });
                console.log(menu_img);*/

                if(menu_name != '' && menu_price != '' && menu_section != '') {
                    let loader = $('.loader1');
		            loader.show();
                    $('.loader1_loading').css('animation-play-state', 'running');

                    $.post('/merchant/menu_new_submit',
                    {
                        menu_name: menu_name,
                        menu_price: menu_price,
                        menu_desc: menu_desc,
                        menu_img: menu_img,
                        menu_section: menu_section,
                        menu_sku: menu_sku,
                    }, function(r) {
                        console.log(r);
                        if(r.status == 200) {
                            alert('Menu Upload Success');
                            let path = $('.btn_back_preview').attr('href');
                            location.href=path;
                        } else {
                            alert('Error');
                        }
                        loader.hide();
                    });
                } else {
                    alert('Mohon isi lengkap form');
                }
            });

            function previewFile(){
                var file = $("#input_photo").get(0).files[0];
        
                if(file){
                    var reader = new FileReader();
        
                    reader.onload = function(){
                        $(".new_img:last").attr("src", reader.result);
                    }
        
                    reader.readAsDataURL(file);
                }
            }
        });
    </script>

{{ template "layout_body" . }}

    <div class='menu_add_container'>
        <a href='/m/{{ .mid }}/menu?s={{ .ParamSearch }}&sid={{ .ParamSid }}&order={{ .ParamOrder }}&sort={{ .ParamSort }}' 
        class='btn_back btn_back_preview' style='text-decoration: none; color: inherit;'>
            &#10094;
        </a>

        <div
            class='font_second_serif'
            style='
                text-align: center;
                font-weight: bold;
                font-size: 22px;
                padding: 35px 0;
            '
        >
            Add New Menu
        </div>

        <div class='tc' style='padding: 0 0 25px 0;'>
            <div class='container_photo_preview' 
                style='
                    min-height: 100px; 
                    width: 100%; 
                    padding: 20px; 
                    box-sizing: border-box;
                    background: ; 
                    overflow: auto; 
                    white-space: nowrap;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: center;'
            ></div>

            <div style='background: ;'>
                <input type="hidden" class="input_menu_img" />
                <form id='form_upload_photo'>
                    <input type='file' name='file' id='input_photo' style='display: none;' />
                    <input type='hidden' name='method' value='hare_menu_photo' />

                    <label 
                        for='input_photo'
                        style='
                            color: white;
                            background: green;
                            border-radius: 4px;
                            font: 13px arial;
                            padding: 8px 65px;
                            display: inline-block;
                            margin: 10px 0;
                            cursor: pointer;
                        '
                    >
                        Upload Photo
                    </label>
                </form>
            </div>
        </div>

        <div class='hare_form_row'>
            <div class='hare_label'>
                Menu Name
            </div>
            <div class='hare_container_input'>
                <input 
                    type='text'
                    class='hare_input input_menu_name'
                    placeholder='Nasi Goreng'
                    autocomplete='off'
                />
            </div>
        </div>

        <div class='hare_form_row'>
            <div class='hare_label'>
                Menu Section
            </div>
            <div style='margin: 0 20px;'>
                <div 
                    id='eselect_add_section' 
                    class='eselect' 
                    data-table='menu_section' 
                    data-placeholder='Select Menu Section' 
                    data-btn_new='1' 
                    data-url_query='/select_query'
                    data-param='{"merchant_id":"{{ .mid }}"}'
                ></div>
            </div>
        </div>

        <div class='hare_form_row'>
            <div class='hare_label'>
                Menu Price
            </div>
            <div class='hare_container_input'>
                <input 
                    type='tel'
                    class='hare_input input_menu_price'
                    placeholder='32600'
                    autocomplete='off'
                />
            </div>
        </div>

        <div class='hare_form_row'>
            <div class='hare_label'>
                Menu SKU
            </div>
            <div class='hare_container_input'>
                <input 
                    type='text'
                    class='hare_input input_menu_sku'
                    placeholder='A001'
                    autocomplete='off'
                />
            </div>
        </div>

        <div class='hare_form_row'>
            <div class='hare_label'>
                Menu Desc
            </div>
            <div class='hare_container_input'>
                <input 
                    type='text'
                    class='hare_input input_menu_desc'
                    placeholder='Nasi goreng dengan daging ayam dan telur mata sapi.'
                    autocomplete='off'
                />
            </div>
        </div>

        <div class='btn_primary btn_add_new_menu' style='margin: 50px 20px; cursor: pointer;' data-mid='{{ .mid }}'>
            Add Menu
        </div>
    </div>

    <!-- New menu section -->
    <div class='hare_confirm_back container_new_section'>
        <div class='hare_confirm_front'>
            <div class='hare_confirm_box' style='padding: 30px 20px;'>
                <div style='padding: 10px 0; text-align: center;'>
                    New Menu Section
                </div>

                <div style='padding: 25px 0px;'>
                    <input 
                        type='text' 
                        placeholder='* minuman / snack'
                        id='input_new_section'
                        style='
                            border-left: 0px solid transparent;
                            border-right: 0px solid transparent;
                            border-top: 0px solid transparent;
                            border-bottom: 1px solid #cacaca;
                            padding: 5px 10px;
                            font-size: 14px;
                        '
                    />
                </div>

                <div class='tc'>
                    <div 
                        class='i btn_positive btn_yes'
                        data-order_id=''
                        data-mid='{{ .mid }}'
                        style='width: 75px; height: 22px;'
                    >
                        Tambah
                    </div>
                    <div 
                        class='i btn_negative btn_no'
                        style='width: 75px; height: 20px;'
                    >
                        Batal
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- !New menu section -->

    {{ template "loader1" }}
    {{ template "eselect" . }}

{{ template "layout_body_end" . }}
{{ end }}