{{ define "merchant_settings" }}

{{ template "layout_head" . }}
{{ template "layout_head_merchant" . }}

    <style>
        body {
            background: #F6F6F6;
        }
        .merchant_settings_nav {
            padding: 25px 15px;
            display: flex;
            text-decoration: none;
            color: #444444;
            background: #fff;
            margin: 5px 0;
        }
        .merchant_settings_nav_txt {
            flex: 1;
        }
    </style>

{{ template "layout_body" }}

    {{ template "merchant_header" . }}

    <div style='height: 100%;'>
        <div class='font_lato' style='background: #fff; padding: 20px 30px; font-weight: bold; font-size: 26px;'>
            Settings
        </div>

        <div>
            <a class='merchant_settings_nav font_primary' href='/merchant/settings/profile'>
                <div class='merchant_settings_nav_txt'>Edit Profile</div>
                <div>&#10095;</div>
            </a>
            <a class='merchant_settings_nav font_primary' href='/merchant/settings/banners'>
                <div class='merchant_settings_nav_txt'>Update Banners</div>
                <div>&#10095;</div>
            </a>
        </div>

        <div>
            <div class='btn_logout font_roboto' style='margin: 10px 0px 0 0px; color: #EF2424; background: #fff; padding: 20px; text-align: center;'>
                Log Out
            </div> 
        </div>
    </div>

{{ template "layout_body_end" }}

{{ end }}