{{ define "app_bar" }}

<div>
    <!--<div onclick='history.go(-1)' class='btn_back btn_back_preview' style='text-decoration: none; color: inherit; cursor: pointer;'>-->
    <a href='{{ .Header.url }}' class='btn_back btn_back_preview' style='text-decoration: none; color: inherit;'>
        &#10094;
    </a>

    <div
        class='font_second_serif'
        style='
            text-align: center;
            font-weight: bold;
            font-size: 22px;
            padding: 35px 0;
        '
    >
        {{ .Header.title }}
    </div>
</div>

{{ end }}