{{ define "menu_bill_load" }}

<div class='font_primary tc' style='padding: 30px 0; font-weight: bold; font-size: 22px;'>
    My Bill
</div>

{{ if gt (len .Data) 0 }}
    <div style='flex: 1; background: white; padding: 0 0 15px 0 0 0; display: flex; flex-direction: column;'>
        <div class='font_primary' style='border-bottom: 1px solid #cacaca; padding: 0 15px 10px 15px;'>
            <table>
                <tr>
                    <td class='menu_bill_top_label'>Order ID</td>
                    <td class='menu_bill_top_value'>#{{ (index .Data 0).order_id }}</td>
                </tr>
                <tr>
                    <td class='menu_bill_top_label'>Time</td>
                    <td class='menu_bill_top_value'>{{ (index .Data 0).created_at | ConvertDate }}</td>
                </tr>
            </table>
        </div>
        <div style='flex: 1; background: ; overflow: auto;'>
            {{ range (index .Data 0).menus }}
                <div class='font_primary' style='padding: 10px;'>
                    <div style='font-size: 15px; color: #222222;'>
                        {{ .menu_name}}
                    </div>
                    <div style='display: flex; font-size: 13px; color: #666666; padding: 2px 0;'>
                        <div style='flex: 1;'>
                            {{ .qty }} @ Rp. {{ .order_menu_price | FloatToString | AddTS }}
                        </div>
                        <div>
                            Rp. {{ (Mul .order_menu_price .qty) | FloatToString | AddTS }}
                        </div>
                    </div>
                </div>
            {{ end }}
            <div style='border-top: 1px solid #cacaca; padding: 10px; margin: 10px 0 0 0;'>
                <table class='menu_bill_table_total font_primary' style='width: 100%;'>
                    <tr>
                        <td>Subtotal</td>
                        <td>Rp.</td>
                        <td>{{ .Total | FloatToString | AddTS }}</td>
                    </tr>
                    <tr>
                        <td>Tax & Service</td>
                        <td>Rp.</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Rp.</td>
                        <td>{{ .Total | FloatToString | AddTS }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div
        style='
            box-shadow: -2px 0px 3px 1px #e0e0e0;
            
            bottom: 0px;
            left: 0;
            width: 100%;
            padding: 15px 0;
            background: white;
        '
    >
        <!--<div class='btn_show_payment_choice' style='background: #f2f2f2;'>
            <div
                class='font_second'
                style='
                    color: #666666;
                    padding: 10px 25px;
                    font-size: 13px;
                    display: flex;
                '
            >
                <div style='flex: 1;'>
                    Pilih Pembayaran
                </div>
                <div class='btn_payment_select' style='color: red; font-weight: bold;'>
                    Belum Pilih
                </div>
            </div>
        </div>-->

        <div
            class='font_second'
            style='
                font-size: 24px;
                padding: 0px 25px 10px 25px;
                display: flex;
            '
        >
            <div>Total</div>
            <div
                style='
                    flex: 1;
                    text-align: right;
                '
            >
                Rp. <div class='checkout_total i'>
                    {{ .Total | FloatToString | AddTS }}
                </div>
            </div>
        </div>

        <div>
            <input type='hidden' class='input_payment_choice' val='' />

            <div 
                class='btn_primary btn_show_payment_choice' 
                style='padding: 5px 0;' 
                data-table_id='{{ .tid }}'
                data-order_id='{{ if .DataOrder.order }}{{ (index .DataOrder.order 0).order_id }}{{ end }}'
            >
                Pilih Metode Pembayaran
            </div>
        </div>
    </div>
{{ else }}
    <div class='font_primary tc' style='padding: 150px 0;'>
        <img src='{{ .G.Asset }}icon_hare.png' style='width: 100px;' />
        <br /><br /><br />
        Anda belum memesan makanan.
        <br />
        Silahkan membuat pesanan terlebih dahulu.
        <br /><br />
        <div class='btn_positive btn_back_to_menu' style='margin: 10px 15px;'>
            Lihat Menu
        </div>
    </div>
{{ end }}

{{ end }}