{{ define "menu_bottom_bar" }}


    <!-- Bar Bot -->
    <div style='display: flex; width: 100%; box-shadow: 0px -2px 3px 1px #e0e0e0; z-index: 35; background: white;'>
        <div class='menu_bot_tab {{ if ne .Order_finish "finish" }}menu_bot_tab_selected{{ end }}' data-tab='1'>
            <div>
                <img src='{{ .Cdn }}img/icons/menubook.svg' style='width: 30px;'/>
            </div>
            <div style='padding: 3px 0 0 0;'>
                Menu
            </div>
        </div>
        {{ if .DataOrder.package_type }}
            {{ if or (eq .DataOrder.package_type 2.0) (eq .DataOrder.package_type 3.0) }}
                <div class='menu_bot_tab {{ if eq .Order_finish "finish" }}menu_bot_tab_selected{{ end }}' data-tab='2'>
                    <div>
                        <img src='{{ .Cdn }}img/icons/order.svg' style='width: 30px; '/>
                    </div>
                    <div style='padding: 3px 0 0 0;'>
                        My Order
                    </div>
                </div>
            {{ end }}
        {{ end }}
        <div class='menu_bot_tab' data-tab='3'>
            <div>
                <img src='{{ .Cdn }}img/icons/help.svg' style='width: 30px; '/>
            </div>
            <div style='padding: 3px 0 0 0;'>
                Help
            </div>
        </div>
        {{ if eq .DataOrder.package_type 3.0 }}
            <div class='menu_bot_tab' data-tab='4' data-tid='{{ .tid }}'>
                <div>
                    <img src='{{ .Cdn }}img/icons/checkout.svg' style='width: 30px; '/>
                </div>
                <div style='padding: 3px 0 0 0;'>
                    Bayar
                </div>
            </div>
        {{ end }}
    </div>
    <!-- !Bar Bot -->

{{ end }}