{{ define "branch_table_detail" }}

{{ template "layout_head" . }}

    <script>
        $(function() {
            // Table
            $('body').delegate('.btn_open_table', 'click', function() {
                let tid = $(this).data('tid');
                eloader1Show();
                $.post('/table/open',
                {
                    tid: tid,
                }, function(r) {
                    console.log(r);
                    if(r.status == 200) {
                        location.reload();
                    } else {
                        alert('Unknown Error');
                        eloader1Finish();
                    }
                });
            });

            $('body').delegate('.btn_close_table', 'click', function() {
                let tid = $(this).data('tid');
                let tpid = $(this).data('tpid');

                // Check if table has order
                eloader1Show();
                $.post('/table/order/check',
                { tid: tid }, function(r) {
                    console.log(r);

                    let close_table = true;
                    let order = '0';
                    if(r.Order > 0) {
                        // Order found, prompt to close table
                        let r = confirm('Sudah ada order di meja ini. Hapus order dan tutup meja?');
                        order = '1';
                        if(r == false) {
                            close_table = false;
                            eloader1Finish();
                        }
                    }

                    if(close_table) {
                        $.post('/table/close',
                        {
                            tpid: tpid,
                            tid: tid,
                            order: order,
                        }, function(r) {
                            console.log(r);
                            if(r.status == 200) {
                                location.reload();
                            } else {
                                alert('Unknown Error');
                                eloader1Finish();
                            }
                        });
                    }
                });
            });
        });
    </script>

{{ template "layout_body" }}

    <div>
        {{ template "app_bar" . }}

        <div>
            <div class='hare_form_row'>
                <div class='hare_label'>
                    Table Name
                </div>
                <div class='hare_container_input'>
                    <input 
                        type='text'
                        class='hare_input input_menu_name'
                        placeholder='Nasi Goreng'
                        autocomplete='off'
                        value='{{ .Res.data.table_name }}'
                    />
                </div>
            </div>

            <div class='hare_form_row'>
                <div class='hare_label'>
                    Table Password
                </div>
                <div class='hare_container_input' style='padding: 0 30px; font-size: 18px; letter-spacing: 2px;'>
                    <b>{{ .Res.data.table_password }}</b>
                </div>
            </div>

            <div class='hare_form_row'>
                <div class='hare_label'>
                    Table QR
                </div>
                <div class='tc'>
                    <img src="https://chart.googleapis.com/chart?chs=180x180&cht=qr&chl=https://{{ .Host }}/menu/t/{{ .Tid }}&choe=UTF-8" title="Hare" />
                </div>
            </div>
        </div>

        <div style='padding: 15px;'>
            <a class='btn_positive' style='display: block;' target='_blank' href='/menu/t/{{ .Tid }}' />Preview Table</a>
            <br /><br />

            {{ if not (.Res.data.table_password) }}
                <div class='btn_positive btn_open_table' data-tid='{{ .Tid }}'>
                    Open Table
                </div>
            {{ else }}
                <div style='padding: 10px 0px 20px 0;'>
                    <a href='/table/order/{{ .Tid }}' class='btn_positive' style='display: block;' data-tid='{{ .Tid }}' data-tpid='{{ .Tpid }}'>
                        View Table Order
                    </a>
                </div>
                <div class='btn_negative btn_close_table' data-tid='{{ .Tid }}' data-tpid='{{ .Tpid }}'>
                    Close Table
                </div>
            {{ end }}
        </div>
    </div>

    <div class='eloader1' data-color='orange'></div>
    {{ template "eloader1" }}

{{ template "layout_body_end" }}
{{ end }}